/* style.css */

.background-container {
  position: relative;
  height: 100vh;
  background: url("D:\VS code\Flight_booking\client\src\components\getstartedpage\45726838.jpg")
    center/cover no-repeat;
  background-size: cover; /* Make the background image cover the entire container */
}

.get-started-button {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: transparent;
  color: black;
  text-decoration: none;
  font-size: 21px;
  border: 2px solid black;
  border-radius: 45px;
  transition: background-color 0.3s, color 0.3s;
}

.get-started-button:hover {
  background-color: orange;
  color: #fff;
  border: none;
}

/* Responsive styles */
@media screen and (min-width: 600px) {
  span {
    font-size: 28px;
  }
}

@media screen and (min-width: 900px) {
  span {
    font-size: 32px;
  }
}

.get-started-button:hover {
  background-color: #008774;
}
