/* header.css */

.logo {
  height: 50px;
  width: 70px;
  border-radius: 20px;
}

.header {
  font-size: 15px;
  color: black;
  transition: color 0.3s ease;
  font-weight: 700;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.link-without-underline {
  text-decoration: none;
  color: #008774;
  margin-right: 10px; /* Adjust margin between links */
}

.link-without-underline:visited {
  color: #0dcbb2;
}

.link-without-underline:hover,
.link-without-underline:active {
  color: #008774;
}

.header:hover {
  color: #008774;
}

.signout {
  background-color: #0dcbb2;
  color: aliceblue;
  border-radius: 41px;
  font-size: small;
  margin-left: 10px; /* Adjust margin from the right */
}

/* Responsive styles */
@media (max-width: 768px) {
  .logo {
    height: 40px;
    width: 60px;
  }

  .header {
    font-size: 12px;
  }

  .signout {
    font-size: x-small;
    margin-left: 5px; /* Adjust margin from the right for smaller screens */
  }
}
