.feedback-logo {
    position: fixed;
    right: 10px;
    top: 90%;
    transform: translateY(-50%);
    width: 80px;
    background-color: white;
    border-radius: 40px;
}

@media (max-width: 576px) {
    .feedback-logo {
        right: 19px; 
        width: 60px; 
        }
}