/* Your CSS */

.footer {
    background-color: #008774;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-section {
    text-align: left;
  }
  
  .footer-section h4 {
    color: #fff;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 8px;
  }
  
  .footer-section a {
    text-decoration: none;
    color: #bbb;
  }
  
  .footer-section a:hover {
    color: #fff;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
  }
  